<footer class="py-5 bg-light">
    <div class="container">
        <h4>Get The Fresh Cart App</h4>
        <p class="text-muted">We Will Send You A Link, Open it in Your Phone To Download The App</p>
        <form [formGroup]="footerForm">
            <input type="email" placeholder="Email.." class="form-control w-75" formControlName="email">
            <button type="submit" class="btn bg-main text-light">Share App Link</button>
        </form>
        <div class="d-flex flex-wrap foot">
            <ul class="list-unstyled me-auto d-flex align-items-center">
                <li>Payment Partners</li>
                <li><img width="70" src="images/amazonpay.png" alt="amazon pay"></li>
                <li><img width="70" src="images/mastercard.png" alt="master card"></li>
                <li><img width="70" src="images/paypal.webp" alt="paypal"></li>
            </ul>
            <ul class="list-unstyled ms-auto d-flex align-items-center">
                <li>Get delevries with freshCart</li>
                <li><img width="100" src="images/appstore.png" alt="amazon pay"></li>
                <li><img width="100" src="images/googleplay.png" alt="master card"></li>
            </ul>
        </div>
    </div>
</footer>